* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 18px;
}

body {
	font-family: "Epilogue", sans-serif;
	font-weight: 500;
	color: hsl(0, 0%, 41%);
	background-color: hsl(0, 0%, 98%);
}

a {
	text-decoration: none;
	color: inherit;
}

.mobile-image {
	display: none;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "header header" "text image";
	max-width: 1440px;
	width: 97%;
	margin: 0 auto;
}

.header {
	grid-area: header;
	display: flex;
	padding: 1.1rem 0 1.7rem;
	align-items: center;
	font-size: 0.8rem;
}

.company-logo {
	align-self: flex-end;
	padding-left: 1rem;
}

.navigation {
	margin: 0 auto 0 3.5rem;
}

.navigation ul {
	display: flex;
	gap: 2.2rem;
	flex-direction: row;
	list-style: none;
}

.nav-item .arrow {
	margin-left: 0.3rem;
}

.login {
	margin-right: 2rem;
}

.register {
	font-family: inherit;
	color: inherit;
	padding: 0.7rem 1.2rem;
	border: 2px solid hsl(0, 0%, 41%);
	background-color: transparent;
	border-radius: 0.8rem;
	font-size: 0.8rem;
}

.text-container {
	grid-area: text;
	padding: 7.6rem 1rem 0 8rem;
}
.text-container h1 {
	font-size: 4.4rem;
	font-weight: 700;
	color: hsl(0, 0%, 8%);
	margin-bottom: 2.6rem;
}
.text-container p {
	line-height: 1.6rem;
	max-width: 26rem;
	margin-bottom: 2.8rem;
}
.button {
	background-color: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	font-family: inherit;
	font-weight: 700;
	font-size: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 0.8rem;
}
.company-images {
	display: flex;
	flex-direction: row;
	gap: 2.2rem;
	align-items: center;
	list-style: none;
	margin-top: 6rem;
}

.image-container {
	grid-area: image;
	padding: 1.8rem 5rem 0 6.5rem;
}

.desktop-image {
	width: 100%;
}
